
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    background-color: rgb(162, 91, 91);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    
}
h1{
    text-align: center;
    padding: 30px 0;
}
.results{
    display: flex;
    flex-direction: column;
    font-size: 28px;
    align-items: center;
    gap:20px;
    padding:20px 0;
}
.Choose{
    display: flex;
    justify-content: center;
    gap:20px;

}
.Choose button{
    font-size: 140px;
    background-color: transparent;
    border:none;
    cursor: pointer;
}

.Choose button:hover{
    background-color: rgb(152, 100, 100);
}
